*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.feed{
    margin: auto;
   
}

.coffee{
    margin: 10px;
    width: 400px;
    margin: auto;
}

.details{
    display: flex;

}

p{
    padding-top: 4px;
    padding-left: 10px;
}

.orderImg{
    height: 100px;
}

.coffeePlusDetails{
    display: flex;
    justify-content: space-between;
    width: 270px;
}

.details{
    padding: 10px;
    margin: 5;
    border-bottom:1px solid #D2D2D2;
}

.coffeeName{
    font-weight: bold;
    font-size: 22px;
}

.coffeeIngredient{
    font-size: 14px;
    color: #8B8B8B;
    padding-bottom: 8px;
}

.coffeePrice{
    padding-top: 5px;
    font-weight: bold;
}
.headerParent{
    margin: auto;
    position: relative;
    width: 400px;
}

.bannerText{
   position: absolute;
   left: 20px;
   top: 19px;
   font-size: 39px;
   font-family: 'Amatic SC', cursive;

  
}

.plusButton{
    height: 30px;
    padding-top: 30px;
}

i{
   font-size: 28px;
}

.bannerImg{
    width: 400px;

}