*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #F5F5F5;
}

.orderText{
    display: flex;
    justify-content: flex-start;
    width: 200px;
    padding-bottom: 10px;
    padding-top: 10px;

}

.order{
    margin: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.totalPriceElement{
    display: flex;
    justify-content: space-between;
    width: 400px;
    border-top: 2px solid #393333;
}

.orderBar{
    display: flex;
    justify-content: space-between;
}

button{
width: 77px;
height: 22px;
border-style: none;
background-color: transparent;
font-family: 'Verdana';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #BBBBBB;
}

.orderName{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.orderPrice{
    padding-top: 10px;
    width: 30px;
    padding-bottom: 20px;
    padding-right:8px ;
    font-size: 21px;
}
.orderTitle{
    font-size: 26px;
    width: 120px;
    height: 30px;
    margin: auto;

}

.coffee{
    margin: 10px;
    width: 400px;
    margin: auto;
}

.details{
    display: flex;

}

p{
    padding-top: 4px;
    padding-left: 10px;
}

.orderImg{
    height: 100px;
}

.coffeePlusDetails{
    display: flex;
    justify-content: space-between;
    width: 270px;
}

.details{
    padding: 10px;
    margin: 5;
    border-bottom:1px solid #D2D2D2;
}

.coffeeName{
    font-weight: bold;
    font-size: 22px;
}

.coffeeIngredient{
    font-size: 14px;
    color: #8B8B8B;
    padding-bottom: 8px;
}

.coffeePrice{
    padding-top: 5px;
    font-weight: bold;
}
.headerParent{
    margin: auto;
    position: relative;
    width: 400px;
}

.bannerText{
   position: absolute;
   left: 20px;
   top: 19px;
   font-size: 39px;
   font-family: 'Amatic SC', cursive;

  
}

.plusButton{
    height: 30px;
    padding-top: 30px;
}

i{
   font-size: 28px;
}

.bannerImg{
    width: 400px;

}

#contact{
    background: white ;
    position: fixed;
    display: block;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30%;
    margin: auto;
    width: 300px;
    height: 310px;
}


#contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form{
    padding: 17px;
}



input{
    margin-top: 10px;
    border: 1px solid gray;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

#btndiv{
 width:100%;
height: 41.3px;
margin-top: 25px;
background: #16DB99;
border-radius: 3.88991px;
display: flex;
justify-content: center;
align-items: center;
}

#submitBtn{
    color: white;
    text-align: center;
    line-height: 20px;
}


#contactText{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#completeOrder{
    width: 400px;
    margin: auto;

}

#completeBtn{
    width:100%;
    height: 41.3px;
    margin-top: 25px;
    color: white;
    background: #16DB99;
    border-radius: 3.88991px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#endText{
    background-color: #ECFDF5;
    color: #065F46;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classEndText{
    width: 300px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}