*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif ;
    
}

body{
   background:rgb(232, 226, 226);
}
header{
    margin: 0 ;
    padding: 0;
    background: rgb(93, 56, 145);
}

.icon{
    height: 40px;
}
.logo{
    height: 40px;
    font-size: 28px;
}


ul{
    display: flex;
    list-style: none;
    color: #F5F5F5;
    line-height: 40px;
    padding: 25px;
    align-items: center;
    margin: auto;
    justify-content: center;
}



main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1{
    font-size: 30px;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 20px;
    max-width: 50%;
    text-align: center;
    background: rgb(249, 148, 23);
    color: rgb(86, 113, 137);
    font-weight: bold;
}

section{
    margin-left: auto; 
    margin-right: auto;
    padding: 30px 0;
    max-width: 50%;
    background: rgb(249, 148, 23);
}

.item-img{
    max-width:100%;
    height:auto;
    border-color: rgb(86, 113, 137);
    display: block;
}


.caption{
    display: flex;

}

.caption{
    margin-right: 25  ;
    margin-left: 25;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    gap: 20;
    margin: 0 25px;
}

p{
    color: rgb(86, 113, 137);
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.captionText{
    padding-right: 10px;
}

button{
    border: none;
    background-color: rgb(93, 56, 145);
    color: whitesmoke;
    padding: 10px 15px;
    font-weight: 700;
    height: 54;
    cursor: pointer;
    margin: auto;
}


#chatBox{
    background-color: rgb(249, 148, 23);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgb(93, 56, 145);
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.chatBoxImg{
    margin: auto;
    width: 50%;
}

#contact{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: rgb(75,0,130) ;
    width: 350px;
    height: 360px;
    box-shadow: 4px 4px 8px rgb(93, 56, 145);
    border-radius: 2px;

}

#closeTagDiv{
    text-align: right;
    background-color: rgb(75,0,130) ;
    color: whitesmoke;

}


#closeTag:hover{
    color: red;
}

#contactText{
    width: 290px;
    margin: 0 auto;
}

#contactTextStyle{
    color: whitesmoke;
    margin-top: 5px;
}

#contactForm{
    width: 290px;
    margin: 10px 30px;
    
}

input{
    margin-top: 10px;
    border: 1px solid gray;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

#btndiv{
    width: 100%;
    text-align: center;
    padding-top: 15px;
}




@media only screen and (max-width:1200px){
    section{
        max-width: 70%;
    }
}

@media only screen and (max-width:1200px){
    h1{
        max-width: 70%;
        font-size: 25px;
    }
}

@media only screen and (max-width:900px){
    section{
        max-width: 100%;
    }
}

@media only screen and (max-width:900px){
    h1{
        max-width: 100%;
        font-size: 23px;
    }
}